:root {
  --darkest: #344E41;
  --dark: #3A5A40;
  --med: #588157;
  --light: #A3B18A;
  --lightest: #DAD7CD;
  --inlinePx: 30px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body,
html {
  height: 100vh;
  width: 100vw;
}

/* navbar */

.navbar {
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;
  height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0;

  a {
    color: var(--lightest);
    text-decoration: none;
  }
}

/* page */

.page-header {
  height: 50px;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  padding-inline: var(--inlinePx);
  border-radius: 0 0 15px 15px;

  h2 {
    color: white;
    
  }
}

.page {
  height: 90%;
  padding: 20px;
}

/* products */

.categories-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  overflow-x: scroll;

  * {
    text-wrap: nowrap;
  }

  span {
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 12px;
    font-weight: 600;
    color: var(--dark);
    cursor: pointer;
  }
}

.product-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.selected {
  background-color: var(--dark) !important;
  color: white !important;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.product-item {
  background-color: #f2f2f2;
  border-radius: 12px;
  display: flex;
  flex-direction: column;

  h3, >p, >div {
    margin-inline: 20px;
  }

  img {
    margin-bottom: 10px;
  }
  h3 {
    margin-bottom: 10px;
  }

}

.product-quantity-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: auto;

  button {
    height: 25px;
    width: 25px;
    border-radius: 7px;
    border: none;
    background-color: var(--dark);
    color: white;
  }

  span {
    margin-inline: 5px;
  }
}